h1 {
  font-family:verdana;
  font-weight:normal;
  font-size:50px;
  color:white;
  text-align:center;
}

body {
  background-color:black;
  text-align:center;
}

.download {
  color:aquamarine;
  font-size:16px;
}
